<% provide(:title, "About") %>
    <h1>About</h1>
    
    <h2>The <%= link_to "Reciper", root_path %> is a web application for people who can't get their mind diverted from thoughts about food. </h2>
     
      <h2>You can be thin. You can be thick.</h2>
      <h2>You can be a vegan treating animals better than your own family members (and for a good reason, I bet).</h2>
      <h2>You can be a carnivore whose lust for meat easily puts Jurassic Park dwellers to shame.</h2>
      <h2>It doesn't matter. As long as you love talking about food, spending hours on trying on new recipes and testing the boundaries of your tastebuds...</h2>
      <h2>You are welcome.</h2>
    
    