<footer class="footer">
  <small>
    The <%= link_to "Reciper", root_path %>
    by <%= link_to "Maciej Zmudczyński", 'https://www.linkedin.com/in/maciej-zmudczy%C5%84ski-73089510a/' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>